

/* --------------------------SIMPLE NEW SKILL BAR --------------*/


@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body{
  background: #1a1a1a;
  font-family: 'PT Sans', sans-serif;
}

.skills-bar-container{
  position: relative;
  width: 40%;
  min-width: 300px;
  margin: 5% auto;
  list-style:none;
}

.skills-bar-container li{
  background: #555;
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label{
  color: #fff;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.skills-bar-container .percent{
  color: #fff;
  font-size: 14px;
  float: right;
}

.progressbar{
  position:absolute;
  width:0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.progress-html{
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.progress-css{
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.progress-javascript{
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.progress-php{
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.progress-sql{
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.progressred{ background-color: #c0392b; }
.progressblue{ background-color: #1199ff; }
.progresspurple{ background-color: #9b59b6; }
.progressorange{ background-color: orange; }
.progressgreen{ background-color: #27ae60; }

@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-webkit-keyframes progress-sql{0%{width: 0%;} 100%{ width: 65%;}}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-moz-keyframes progress-sql{0%{width: 0%;} 100%{ width: 65%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@keyframes progress-sql{0%{width: 0%;} 100%{ width: 65%;}}



