@import url(reset.css);
@import url(../bootstrap-3.3.6/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Imprima);
@import url(https://fonts.googleapis.com/css?family=Khand:400,500,600,700|Rajdhani:400,600,700,500|Orbitron:400,500,700,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(portfolio.css);
/*

font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Khand', sans-serif;


*/
* {
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #162537; }

/* ---------------------- ACTIONS for DIV animations ----------------- */
@keyframes slideIn {
  to {
    transform: translateX(0); } }
.animation-element.fadeInRight {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px); }

.animation-element.fadeInRight.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.animation-element.fadeInLeft {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px); }

.animation-element.fadeInLeft.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.bg-progress.fadeRight.slideRight {
  opacity: 1; }

.animation-element.fadeInUp.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.animation-element.fadeInUp {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px); }

.animation-element.fadeIn {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear; }

.animation-element.fadeIn.in-view {
  opacity: 1; }

/* ----------------------- BLACK COVER Area ---------------- */
@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg); } }
.hero-area {
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0;
  bottom: 0;
  height: 35%;
  width: 100%;
  background: rgba(244, 40, 40, 0.64);
  transition: opacity 1s ease-out; }
  .hero-area .action-call {
    text-align: center;
    color: white; }
    .hero-area .action-call h1 {
      margin-top: 2em;
      font-size: 2rem; }
    .hero-area .action-call h3 {
      font-size: 1.6rem; }
    .hero-area .action-call .tech-icon {
      display: block;
      width: 20%;
      margin: 0; }
      .hero-area .action-call .tech-icon:hover {
        animation-name: rotation;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
      .hero-area .action-call .tech-icon svg #outer-thick_lines .cls-14 {
        fill: red; }
      .hero-area .action-call .tech-icon img {
        width: 10%; }

/* ------------- NAV BAR --------------- */
.container-nav {
  width: 100%;
  background-color: #02024d; }

.nav-tabs {
  border: none;
  width: 100%; }

.nav {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center; }
  .nav li {
    width: 100%;
    font-size: 2.5rem;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Rajdhani", sans-serif; }
    .nav li.mobile-hidden {
      display: none; }
    .nav li:first-of-type {
      border-top: 2 solid #00adee; }
    .nav li a {
      width: 50%;
      margin: 0 auto;
      color: white;
      padding: 1rem 0 1rem 0;
      border: 2px solid #02024d;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease; }
      .nav li a.mobile-hidden {
        display: none; }
      .nav li a:hover {
        color: #d5084d;
        text-shadow: rgba(171, 171, 171, 0.5) 1px 2px 0px;
        background: #02024d;
        border-right: 2px solid #00adee;
        border-left: 2px solid #00adee;
        border-top: 2px solid #02024d;
        border-bottom: 2px solid #02024d; }
      .nav li a img {
        width: 60%;
        height: auto;
        max-height: 100px;
        max-width: 115px; }
      .nav li a i {
        display: inline; }
  .nav li.logo a {
    height: 68px; }
    .nav li.logo a:hover {
      background: #00adee; }

.mobile-only {
  display: block; }

/* ------------ SPLASH HERO Area ---------------- */
.bg-splash .box {
  padding: 0;
  width: 100%;
  margin: 5rem auto 5rem auto;
  text-align: center; }
  .bg-splash .box img {
    width: 80%;
    height: auto;
    max-width: 1200px; }

/* ----------------- Portrait Section ----------- */
.bg-portrait {
  padding-left: 0px;
  padding-right: 0px;
  border-top: 2px dashed #d5084d;
  border-bottom: 2px dashed #d5084d;
  padding-top: 3rem; }
  .bg-portrait .box {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    padding: 0rem; }
    .bg-portrait .box #click-resume {
      text-align: center;
      color: white;
      padding-left: 0px;
      padding-right: 0px; }
      .bg-portrait .box #click-resume p {
        font-size: 3rem;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500; }
      .bg-portrait .box #click-resume h2 {
        color: white;
        text-align: center;
        font-family: 'Orbitron', cursive;
        font-weight: 700;
        width: 65%;
        font-size: 3rem;
        padding-bottom: 10px;
        border-bottom: 4px solid #d5084d;
        margin: 0 auto;
        margin-bottom: 1rem; }
      .bg-portrait .box #click-resume img {
        width: 100%;
        height: auto;
        padding-top: 3rem;
        padding-bottom: 3rem; }
      .bg-portrait .box #click-resume a button {
        margin-bottom: 3rem;
        background: #d5084d;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        border: 3px solid #d5084d;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        font-size: 3rem;
        font-weight: 700; }
        .bg-portrait .box #click-resume a button:hover {
          background: black;
          border: 3px solid #d5084d;
          color: #00adee; }

/* ------------- Progress Bar ----------- */
.bg-progress {
  opacity: 0; }

/* ---------------- SERVICES Area ------------------ */
h2.section-header {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 4px solid #d5084d;
  font-family: 'Orbitron', cursive;
  margin: 0 auto;
  margin-bottom: 1rem; }

.bg-services {
  border-bottom: 2px dashed #d5084d;
  font-size: 2.3rem;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 3rem; }
  .bg-services .row {
    padding: 0 2rem; }
    .bg-services .row #click-portfolio {
      color: white;
      text-align: center;
      padding: 2rem;
      margin: 2rem 0;
      border-bottom: 3px solid #d5084d; }
      .bg-services .row #click-portfolio p {
        font-size: 3rem; }
        .bg-services .row #click-portfolio p span {
          color: #00adee;
          font-weight: 500;
          font-family: 'Orbitron', cursive;
          font-size: 2.3rem; }
      .bg-services .row #click-portfolio a button {
        margin-bottom: 3rem;
        background: #d5084d;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        border: 3px solid #d5084d;
        color: white;
        font-size: 3rem;
        font-weight: 600; }
        .bg-services .row #click-portfolio a button:hover {
          background: black;
          border: 3px solid #d5084d;
          color: #00adee; }
    .bg-services .row #click-demo {
      color: white;
      text-align: center;
      padding: 2rem;
      margin: 2rem 0; }
      .bg-services .row #click-demo p {
        font-size: 3rem; }
        .bg-services .row #click-demo p span {
          color: #00adee;
          font-weight: 500;
          font-family: 'Orbitron', cursive;
          font-size: 2.3rem; }
      .bg-services .row #click-demo a button {
        margin-bottom: 3rem;
        background: #00adee;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        border: 3px solid #00adee;
        color: white;
        font-size: 3rem;
        font-weight: 700; }
        .bg-services .row #click-demo a button:hover {
          background: black;
          border: 3px solid #00adee;
          color: #d5084d; }
    .bg-services .row .box {
      color: white;
      border-bottom: 2px dashed #d5084d;
      padding: 2rem 1rem; }
      .bg-services .row .box h3 {
        margin: 1rem auto 2rem auto;
        text-align: center;
        width: 75%;
        font-family: 'Orbitron', cursive;
        border-bottom: 4px solid #d5084d;
        padding-bottom: 10px; }
      .bg-services .row .box ul {
        text-align: left;
        list-style: circle;
        margin: 0 10px;
        /*    margin-left: 4rem;
        margin-right: 4rem; Add to Media Queries!!! */ }
        .bg-services .row .box ul li ul {
          color: red;
          margin-left: 3rem; }
        .bg-services .row .box ul ul {
          color: red;
          margin-left: 3rem; }
      .bg-services .row .box .service-icon {
        width: 50%;
        margin: 0 auto; }
        .bg-services .row .box .service-icon svg #circle {
          opacity: 1;
          -moz-transition: all 500ms linear;
          -webkit-transition: all 500ms linear;
          -o-transition: all 500ms linear;
          transition: all 500ms linear; }
        .bg-services .row .box .service-icon svg #play {
          opacity: 1;
          -moz-transition: all 500ms linear;
          -webkit-transition: all 500ms linear;
          -o-transition: all 500ms linear;
          transition: all 500ms linear; }
        .bg-services .row .box .service-icon svg #play-frame {
          opacity: 1;
          -moz-transition: all 500ms linear;
          -webkit-transition: all 500ms linear;
          -o-transition: all 500ms linear;
          transition: all 500ms linear; }
        .bg-services .row .box .service-icon svg #outer-thick_lines .cls-14 {
          -moz-transition: all 500ms ease;
          -webkit-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease; }
        .bg-services .row .box .service-icon svg #web {
          opacity: 0;
          -moz-transition: all 500ms ease;
          -webkit-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease; }
      .bg-services .row .box #graphic-icon {
        -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -ms-transform-origin: 52% 48%;
        /* IE 9 */
        -webkit-transform-origin: 52% 48%;
        /* Chrome, Safari, Opera */
        transform-origin: 52% 48%; }
      .bg-services .row .box span {
        color: #00adee;
        font-weight: 500;
        font-family: 'Orbitron', cursive;
        font-size: 2rem; }
    .bg-services .row #web-service .list ul li ul {
      color: red;
      margin-left: 3rem; }

@keyframes iconRotateEnter {
  0% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); } }
@keyframes iconRotateLeave {
  0% {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); }
  100% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); } }
/* ------------ WORKS Area ---------------- */
.bg-works .box {
  width: 90%;
  margin: 0 auto; }
  .bg-works .box ul {
    width: 100%;
    list-style: none;
    text-align: center; }
    .bg-works .box ul li {
      width: 25%;
      display: inline;
      margin-right: 1rem; }

/* ------------- Contact Form Area ------------------------ */
.bg-contact {
  color: white;
  padding-top: 3rem;
  border-bottom: 2px dashed #d5084d; }
  .bg-contact h2 {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    width: 70%;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-bottom: 4px solid #d5084d; }
  .bg-contact .box form fieldset legend {
    color: white;
    border-bottom: none; }
  .bg-contact .box form fieldset label {
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 10%;
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 1.5rem; }
  .bg-contact .box form fieldset input {
    width: 80%;
    margin-left: 10%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    background: #260000;
    border: 2px solid #00adee; }
  .bg-contact .box form fieldset #submit_button {
    width: 75px;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-left: calc(10% - 15px);
    margin-bottom: 2rem;
    border-radius: 4px;
    padding: 1rem 0;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    border: 3px solid #d5084d;
    border-radius: 8px;
    background: #d5084d; }
    .bg-contact .box form fieldset #submit_button:hover {
      border: 3px solid #d5084d;
      color: #00adee;
      background: black; }
  .bg-contact .box form fieldset #message {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2rem;
    background: #260000;
    border: 2px solid #00adee;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white; }

/* ----------------- FOOTER Area ---------------- */
.bg-footer {
  margin-top: 4rem; }
  .bg-footer .box {
    background: #02024d;
    padding-top: 2rem; }
    .bg-footer .box ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-top: 2rem; }
      .bg-footer .box ul li {
        width: 48%;
        display: inline-block;
        margin-bottom: 4rem; }
        .bg-footer .box ul li a {
          font-size: 2.7rem;
          font-weight: 500;
          border-radius: 4px;
          -moz-transition: all 300ms linear;
          -webkit-transition: all 300ms linear;
          -o-transition: all 300ms linear;
          transition: all 300ms linear;
          border: 3px solid #02024d;
          font-family: 'Rajdhani', sans-serif;
          padding: 1rem; }
          .bg-footer .box ul li a:link {
            color: white;
            text-decoration: none; }
          .bg-footer .box ul li a:visited {
            color: white; }
          .bg-footer .box ul li a:hover {
            border: 3px solid #d5084d; }
    .bg-footer .box p {
      color: white;
      font-size: 1.8rem;
      text-align: center;
      padding-bottom: 2rem;
      margin-bottom: 0; }
  .bg-footer .social-icons {
    padding-bottom: 2rem;
    margin-top: 2rem; }
    .bg-footer .social-icons li {
      display: inline !important; }
      .bg-footer .social-icons li a:hover {
        border: 3px solid #02024d !important;
        color: #d5084d !important; }

/* --------------- PORTFOLIO Page ------------------ */
.bg-portfolio h2 {
  color: white;
  text-align: center; }
.bg-portfolio .box ul li {
  text-align: center;
  margin-bottom: 3rem; }
  .bg-portfolio .box ul li a img {
    border-radius: 4px;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    .bg-portfolio .box ul li a img:hover {
      border: 0px;
      -webkit-box-shadow: 3px 3px 2px 1px rgba(214, 214, 214, 0.4);
      -moz-box-shadow: 3px 3px 2px 1px rgba(214, 214, 214, 0.4);
      box-shadow: 3px 3px 2px 1px rgba(214, 214, 214, 0.4); }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* ------------ NAVBAR content -------------- */
  header .container-nav nav ul li a {
    width: 40%; }

  /* SERVICES */
  .bg-services {
    font-size: 2.5rem; }
    .bg-services h2 {
      width: 334px; }
    .bg-services .row .box #graphic-icon {
      padding-top: 20px; }
    .bg-services .row .box ul {
      width: 65%;
      margin: 0 auto; }
    .bg-services .row .box h3 {
      font-size: 2.7rem; }
    .bg-services .row .box span {
      font-size: 2.3rem; }

  .bg-splash .box {
    width: 90%;
    max-width: 50em;
    height: auto; }

  .bg-portrait .box #click-resume h2 {
    width: 210px; }
  .bg-portrait .box #click-resume img {
    width: 95%; }

  .bg-contact h2 {
    width: 217px; } }
@media only screen and (min-width: 768px) {
  /* ------------ NAVBAR content -------------- */
  .nav {
    width: 90%;
    margin: 0 auto;
    heighT: 100px; }
    .nav li {
      margin: 2rem auto;
      width: 20%;
      font-size: 2rem;
      font-weight: 400; }
      .nav li:first-of-type {
        border-left: 1px solid #00adee; }
      .nav li:nth-of-type(4) {
        width: 10%;
        margin-right: 3rem; }
        .nav li:nth-of-type(4) a {
          width: 70%;
          height: auto; }
          .nav li:nth-of-type(4) a:hover {
            background: none;
            border: 2px solid #01013c; }
          .nav li:nth-of-type(4) a img {
            width: 100%; }
      .nav li.mobile-only {
        display: none; }
      .nav li.mobile-hidden {
        display: block; }
      .nav li a {
        padding: 2rem 0 2rem 0;
        border: 2px solid #02024d;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 2.3rem;
        width: 100%; }
        .nav li a img {
          width: 40%;
          position: absolute;
          max-height: 70px;
          max-width: 75px;
          top: 10px;
          left: 20%;
          height: auto; }
        .nav li a.mobile-only {
          display: none; }
        .nav li a.mobile-hidden {
          display: block; }

  #web-service.animation-element.fadeInUp {
    transition-delay: 500ms; }

  #graphic-service.animation-element.fadeInUp {
    transition-delay: 800ms; }

  #video-service.animation-element.fadeInUp {
    transition-delay: 1100ms; }

  #click-portfolio.animation-element.fadeIn {
    transition-delay: 1400ms; }

  #click-demo.animation-element.fadeIn {
    transition-delay: 1400ms; }

  #web-portfolio .portfolio-image.animation-element.fadeInRight.in-view {
    transition-delay: 200ms; }

  #video-portfolio .portfolio-image.animation-element.fadeInLeft.in-view {
    transition-delay: 500ms; }

  #graphic-portfolio .portfolio-image.animation-element.fadeInUp.in-view {
    transition-delay: 800ms; }

  .bg-services h2 {
    width: 350px; }
  .bg-services .row .box ul {
    width: 75%;
    margin: 0 auto; }
  .bg-services .row .box #graphic-icon {
    margin-top: 2rem; }
  .bg-services .row #click-portfolio {
    border-right: 3px solid #d5084d;
    border-bottom: none; }

  .bg-splash .box {
    width: 90%;
    max-width: 1200px;
    height: auto; }

  .bg-portrait .box #click-resume h2 {
    width: 260px; }
  .bg-portrait .box #click-resume img {
    width: 95%; }

  .bg-contact h2 {
    width: 217px; } }
@media only screen and (min-width: 992px) {
  nav ul {
    width: 970px !important;
    height: 125px !important; }

  .bg-services {
    border-bottom: 0; }
    .bg-services .container {
      width: 992px; }
      .bg-services .container .row {
        padding: 0; }
        .bg-services .container .row .box {
          border-bottom: 0px; }
          .bg-services .container .row .box ul {
            width: 90%; }
        .bg-services .container .row #graphic-service #graphic-icon {
          margin-top: 2px; }

  .bg-contact {
    border-top: 2px dashed #d5084d; }

  .bg-footer .box ul {
    margin-bottom: 3rem;
    padding-top: 3rem; }
    .bg-footer .box ul li {
      display: inline;
      margin-right: 2rem; }

  .portfolio-image {
    border: 2px solid #00adee;
    max-height: 300px; } }
@media only screen and (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1500px; }

  nav ul {
    width: 1150px !important; }
    nav ul li a {
      font-size: 3.3rem !important; }

  .bg-portrait .box #click-resume h2 {
    font-size: 4rem; }
  .bg-portrait .box #click-resume a button {
    margin-bottom: 5rem; }

  .bg-services .container h2 {
    font-size: 4rem;
    width: 400px; }

  .bg-contact {
    max-width: 1050px; }
    .bg-contact h2 {
      width: 270px;
      font-size: 4rem; }
    .bg-contact form fieldset #submit_button {
      margin-left: calc(15% - 15px) !important; }
    .bg-contact form fieldset .row label {
      margin-left: 15%; }
    .bg-contact form fieldset .row input {
      width: 750px;
      margin-left: 15%; }
    .bg-contact form fieldset .row #message {
      width: 750px;
      margin-left: 15%; } }

/*# sourceMappingURL=style.css.map */
